.EditableTypography-Content {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  padding: 0px 2px;
  transition: background 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.EditableTypography-EditIcon {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.EditableTypography-Loading {
  padding: 8px 0px;
}

.EditableTypography-Editing {
  display: flex;
  place-items: center;
}

.EditableTypography-Content:hover {
  background: #00000010;
  padding: 0px 2px;
  border-radius: 8px;
  cursor: pointer;
}
